<web-app>
<context-param>
<param-name>path</param-name>
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
</context-param>

<context-param>
<param-name>url</param-name>
<param-value>jdbc:odbc:xyz</param-value>
</context-param>

<context-param>
<param-name>uname</param-name>
<param-value>root</param-value>
</context-param>

<context-param>
<param-name>pword</param-name>
<param-value>root</param-value>
</context-param>

<servlet>
<servlet-name>a1</servlet-name>
<servlet-class>ValidateServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a2</servlet-name>
<servlet-class>CreateUserServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a3</servlet-name>
<servlet-class>EnterMarksServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a4</servlet-name>
<servlet-class>ShowMarksServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a5</servlet-name>
<servlet-class>ShowAllMarksServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a6</servlet-name>
<servlet-class>ShowDetailMarksServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>a7</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>a1</servlet-name>
<url-pattern>/validate</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a2</servlet-name>
<url-pattern>/createuser</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a3</servlet-name>
<url-pattern>/entermarks</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a4</servlet-name>
<url-pattern>/showmarks</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a5</servlet-name>
<url-pattern>/showallmarks</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a6</servlet-name>
<url-pattern>/showdetailmarks</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>a7</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
</web-app>